{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Imprints
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <h2>Imprint Listening</h2>
<div class="col-xs-12">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Locale</th>
                <th scope="col">Imprint</th>
            </tr>
            </thead>
            <tbody>
            {% for imprint in imprints %}
            <tr>
                <td>{{ imprint['locale'] }}</td>
                <td>{{ imprint['text'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


</div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% endblock %}
