{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    User
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/highlighter/css/searchText.css') }}"  />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>

{% endblock %}
{% block body %}
    <h2>Users Listening</h2>
<div class="col-xs-12">
    {% for user in users %}
    <div class="col-xs-12" style="border-bottom : thick solid #0000FF;margin-bottom:10px">
        <div class="form-group col-xs-8">
            <label>Name</label>:&nbsp&nbsp&nbsp
            <span>{{ user['name'] }}</span><br>
            <label >Username</label>:&nbsp&nbsp&nbsp
            <span>{{ user['username'] }}</span><br>
            <label>Email</label>:&nbsp&nbsp&nbsp
            <span>{{ user['email'] }}</span><br>

            <label>phone</label>:&nbsp&nbsp&nbsp
            <span>{{ user['phone'] }}</span><br>
            <label>Website</label>:&nbsp&nbsp&nbsp
            <span>{{ user['website'] }}</span><br>

            <div class="col-xs-6" style="border-left : thick solid #0000FF;margin-bottom:10px">
                <strong>Address Details</strong><br>
                <label>Street</label>:&nbsp&nbsp&nbsp
                <span>{{ user['address']['street'] }}</span><br>
                <label>suite</label>:&nbsp&nbsp&nbsp
                <span>{{ user['address']['suite'] }}</span><br>
                <label>city</label>:&nbsp&nbsp&nbsp
                <span>{{ user['address']['city'] }}</span><br>
                <label>zipcode</label>:&nbsp&nbsp&nbsp
                <span>{{ user['address']['zipcode'] }}</span><br>
                <label>Latitute</label>:&nbsp&nbsp&nbsp
                <span>{{ user['address']['geo']['lat'] }}</span><br>
                <label>Longitute</label>:&nbsp&nbsp&nbsp
                <span>{{ user['address']['geo']['lng'] }}</span><br>
            </div>
            <div class="col-xs-6" style="border-left : thick solid #0000FF;margin-bottom:10px">
                <strong>Company Details</strong><br>
                <label>name</label>:&nbsp&nbsp&nbsp
                <span>{{ user['company']['name'] }}</span><br>
                <label>catchPhrase</label>:&nbsp&nbsp&nbsp
                <span>{{ user['company']['catchPhrase'] }}</span><br>
                <label>bs</label>:&nbsp&nbsp&nbsp
                <span>{{ user['company']['bs'] }}</span><br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% endblock %}
